<div class="container mt-5">
  <h2 class="mb-4">Sipariş Geçmişi</h2>
  <div class="list-group">
    <a *ngFor="let order of orders" [routerLink]="['/order', order.id]" class="list-group-item list-group-item-action">
      <p class="mb-1">Sipariş ID: {{ order.id }}</p>
      <p class="mb-1">Tarih: {{ order.date | date:'dd/MM/yyyy' }}</p>
      <p class="mb-1">Araba Modeli: {{ order.car }}</p>
      <p class="mb-1">Alış Tarihi: {{ order.startDate | date:'dd/MM/yyyy' }}</p>
      <p class="mb-1">Teslim Tarihi: {{ order.endDate | date:'dd/MM/yyyy' }}</p>
      <p class="mb-1">Teslim Elidi: {{ order.delivery == true ? 'Evet' : 'Hayır' }}</p>
      <p>Fiyat: {{ order.totalPrice }}</p>
    </a>
  </div>
</div>
