<div class="row">
  <div class="col-md-4 mb-4" *ngFor="let car of cars">
    <div class="card card-hover">
      <div class="car-title mb-2">{{ car.name }}</div>
      <img [src]="car.image" class="card-img-top mb-2" [alt]="car.name">
      <div class="card-body">
        <h5 class="card-title">Araç Özellikleri</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fas fa-car-side"></i>{{ car.type }}</li>
          <li class="list-group-item"><i class="fas fa-door-open"></i>{{ car.doors }} Kapı</li>
          <li class="list-group-item"><i class="fas fa-chair"></i>{{ car.seats }} Koltuk</li>
          <li class="list-group-item"><i class="fas fa-cogs"></i>{{ car.gearType }}</li>
          <li class="list-group-item"><i class="fas fa-gas-pump"></i>{{ car.fuelType }}</li>
          <li class="list-group-item"><i class="fas fa-snowflake"></i>Klima var</li>
        </ul>
      </div>
    </div>
  </div>
</div>
