<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <h5 class="card-header">Profil Güncelle</h5>
        <div class="card-body">
          <form>
            <!-- First Name -->
            <div class="form-group my-2">
              <label for="firstName">Ad</label>
              <input type="text" class="form-control" id="firstName" placeholder="Adınızı girin">
            </div>
            <!-- Last Name -->
            <div class="form-group my-2">
              <label for="lastName">Soyad</label>
              <input type="text" class="form-control" id="lastName" placeholder="Soyadınızı girin">
            </div>
            <!-- Identity Number -->
            <div class="form-group my-2">
              <label for="identityNumber">Kimlik Numarası</label>
              <input type="text" class="form-control" id="identityNumber" placeholder="Kimlik numaranızı girin">
            </div>
            <!-- Email -->
            <div class="form-group my-2">
              <label for="email">Email adresi</label>
              <input type="email" class="form-control" id="email" placeholder="Email adresinizi girin">
            </div>
            <!-- Phone Number -->
            <div class="form-group my-2">
              <label for="phoneNumber">Telefon Numarası</label>
              <input type="tel" class="form-control" id="phoneNumber" placeholder="Telefon numaranızı girin">
            </div>
            <!-- Password -->
            <div class="form-group my-2">
              <label for="password">Şifre</label>
              <input type="password" class="form-control" id="password" placeholder="Yeni şifrenizi girin">
            </div>
            <!-- Password Again -->
            <div class="form-group my-2">
              <label for="password">Şifre (Tekrar)</label>
              <input type="password" class="form-control" id="password" placeholder="Yeni şifrenizi girin">
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-3">Güncelle</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
