<div class="container mt-5">
  <div *ngIf="order" class="card">
    <div class="card-body">
      <h2 class="card-title">Sipariş Detay - No: {{ order.id }}</h2>
      <p class="card-text">Tarih: {{ order.date | date }}</p>
      <p class="card-text">Araba Model: {{ order.car }}</p>
      <p class="card-text">Alış Tarihi: {{ order.startDate | date }}</p>
      <p class="card-text">Teslim Tarihi: {{ order.endDate | date }}</p>
      <p class="card-text">Fiyat: {{ order.totalPrice }}</p>
      <button class="btn btn-primary">Arabayı Teslim Et</button>
    </div>
  </div>
  <div *ngIf="!order" class="alert alert-warning mt-3" role="alert">
    Sipariş Bulunamadı!
  </div>
</div>
